<div class="pagination" *ngIf="count > 0">
	<!--<div class="description">
		<span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
		<span class="page-totals">{{ totalPages() }} pages</span>
	</div>-->
	<nav aria-label="Page navigation example">
	  <ul class="pagination">
	    <li class="page-item" (click)="page <= 1?'#':onPrev()" [ngClass]="{ 'disabled': page <= 1 || loading }"><a class="page-link" [routerLink]="page <= 1?'#':['/page/', prev(page)]" >Previous</a></li>
	    <li class="page-item" *ngFor="let pageNum of getPages()" [ngClass]="{'disabled': page === pageNum}"><a class="page-link" (click)="page === pageNum?'':onPage(pageNum)" [routerLink]="page === pageNum?'#':['/page/', pageNum]" >{{ pageNum }}</a></li>
	    <li class="page-item" ><a class="page-link" (click)="onNext(true)"  [routerLink]="['/page/', next(page)]" [ngClass]="{ 'disabled': lastPage() || loading }">Next</a></li>
	  </ul>
	</nav>
</div>