<nav class="navbar navbar-default">
  <div class="container">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OOHLALA Coding Challenge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [collapse]="!isCollapsed">
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#" [routerLink]="'/'">Home</a></li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#" [routerLink]="'/playlists'">Playlists</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>
