<div class="modal-header">
    <h4 class="modal-title pull-left"> Add Tag </h4>
    <button type="button" class="close mynewclassclose" data-dismiss="modal" aria-hidden="true"
            (click)="modalRef.hide()" title="Close">
        <img src="http://expediaholiday.d.seven2.net/_images/modal_close.png"/>
    </button>
</div>

<div class="modal-body">
    <form (ngSubmit)="onSumbitForm(tagForm)" #tagForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" name="tag" [(ngModel)]="tag" id="tag" #name="ngModel" required (autocomplete)="false">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Tag is required</div>
        </div>
        <button type="submit" class="btn btn-success" required="" [disabled]="!tagForm.form.valid">Add Tag</button>
    </form>
</div>
