img {
    height: 200px !important;
}

.loading {
    text-align: center;
}
.myTestClass{
    min-height: 400px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}