<div class="container">
  <div class="loading" *ngIf="isBusy"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading..."></div>
  <div style="min-height: 500px">
  <div class="row" *ngIf="!isBusy">
    <div class="col-lg-3 col-md-3 col-sm-6 myTestClass" *ngFor="let artist of artists;" >
      <div class="thumbnail">
        <img [src]="artist.thumbnail" *ngIf="artist.thumbnail">
        <div class="caption">
          <h4>Name: {{artist.name}}</h4>
          <p>Listeners: {{artist.listeners}}</p>
          <p>
              <a (click)="isAdded(artist)? addPlaylist(artist): openModal(artist)" class="btn {{isAdded(artist) ? 'btn-danger' : 'btn-primary'}}" role="button">{{isAdded(artist) ? 'Remove Playlist' : 'Add Playlist'}}</a>
              <a [routerLink]="['/artist/', artist.name]" class="btn btn-primary" role="button">View Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row clearfix">
    <app-pagination
          (goPage)="goToPage($event)"
          (goNext)="onNext()"
          (goPrev)="onPrev()"
          [pagesToShow]="3"
          [page]="page"
          [perPage]="limit"
          [count]="total"></app-pagination>
  </div>
</div>

