<div class="container artist-detail">
  <div class="loading" *ngIf="isBusy"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading..."></div>
  <div class="row" *ngIf="!isBusy">
      <div class="thumbnail">
        <img [src]="artists.thumbnail" *ngIf="artists.thumbnail">
        <div class="caption">
          <h4><strong>Name:</strong> {{artists.name}}</h4>
          <p><strong>Listeners:</strong> {{artists.listeners}}</p>
          <p><strong>Playcount:</strong> {{artists.playcount}}</p>
          <p><strong>Bio:</strong> <span [innerHtml]="artists.bio"></span></p>
        </div>
      </div>
  </div>
</div>
