<div class="container">
  <div class="row">
    <h2>Playlists:</h2>
    <div class="col-sm-7 col-md-3" *ngFor="let artist of artists">
      <div class="thumbnail">
        <img [src]="artist.thumbnail" *ngIf="artist.thumbnail">
        <div class="caption">
          <h4>Name: {{artist.name}}</h4>
          <p>Listeners: {{artist.listeners}}</p>
          <p>Tag: <button type="button" class="btn btn-secondary btn-sm">{{artist.tag}}</button></p>
          <p>
              <a (click)="addPlaylist(artist)" class="btn {{isAdded(artist) ? 'btn-danger' : 'btn-primary'}}" role="button">{{isAdded(artist) ? 'Remove Playlist' : 'Add Playlist'}}</a>
              <a [routerLink]="['/artist/', artist.name]" class="btn btn-primary" role="button">View Details</a>
          </p>
        </div>
      </div>
    </div>
    <p *ngIf="artists.length <= 0" class="no-likes"> No record found!</p>
  </div>
</div>